@font-face {
  font-family: Ubuntu;
  src: url("./assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: UbuntuBold;
  src: url("./assets/fonts/Ubuntu-Bold.ttf");
}

@font-face {
  font-family: UbuntuMedium;
  src: url("./assets/fonts/Ubuntu-Medium.ttf");
}

body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Ubuntu, sans-serif;
}

img {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

p {
  margin: 0;
  font-size: 16px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: 16px;
}

button {
  cursor: pointer;
}

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.main {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: hsl(217, 100%, 97%);
}

.container {
  width: 1440px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.wrapper_row_1 {
  background: white;
  padding: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.row_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.left_part {
  position: relative;
  width: 275px;
  height: 570px;
}

.bg_left {
  position: absolute;
  width: 100%;
  height: 100%;
}

.bg_left img {
  width: inherit;
  height: inherit;
}

.col_1 {
  z-index: 999;
  position: relative;
}

.row_2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-left: 30px;
  padding-top: 30px;
}

.number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid white;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-right: 20px;
}

.active_number {
  background-color: hsl(228, 100%, 84%);
  border-color: hsl(206, 94%, 87%);
  color: black;
}

.number p {
  font-weight: 700;
}

.col_2 p {
  color: hsl(228, 100%, 84%);
  text-transform: uppercase;
  font-size: 14px;
}

.col_2 h2 {
  color: white;
  font-weight: 700;
  text-transform: uppercase;
}

.right_part {
  padding: 35px 100px 20px 100px;
  width: calc(650px - 200px);
}

.step_1 {
  display: none;
}

.step {
  height: 100%;
  position: relative;
}

.title_step {
  margin-bottom: 40px;
}

.title_step h2 {
  color: hsl(213, 96%, 18%);
  font-size: 2rem;
  font-weight: 700;
  font-family: UbuntuBold, sans-serif;
  margin-bottom: 11px;
}

.title_step p {
  color: hsl(231, 11%, 63%);
}

.col_3 {
  padding-bottom: 20px;
}

.row_3 {
  margin-bottom: 10px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row_3 label {
  color: hsl(213, 96%, 18%);
  text-transform: capitalize;
  font-size: 15px;
}

.row_3 p {
  color: hsl(354, 84%, 57%);
  font-weight: 700;
  font-size: 14px;
}

.field_required {
  display: none;
}

.invalid_number {
  display: none;
}

.invalid_mail {
  display: none;
}

.form_input {
  border-radius: 7px;
  border: 1px solid hsl(229, 24%, 87%);
  padding: 12px;
  font-family: UbuntuMedium, sans-serif;
}

.form_input:focus {
  outline: none;
  border-color: hsl(243, 100%, 62%) !important;
}

.pagination {
  margin-top: 40px;
  width: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  position: absolute;
  bottom: 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.space-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.next {
  background-color: hsl(213, 96%, 18%);
  color: white;
  font-family: UbuntuMedium, sans-serif;
  padding: 12px 20px;
  border-radius: 7px;
  border-color: transparent;
  text-transform: capitalize;
}

.next:hover {
  background-color: #164a8a;
}

.next:disabled {
  background: hsl(227.6, 100%, 83.9%);
  cursor: auto;
}

.step_2 {
  display: none;
}

.row_4 {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.wrapper_col_4 {
  width: 138px;
}

.col_4 {
  border: 1px solid hsl(229, 24%, 87%);
  border-radius: 10px;
  padding: 15px;
}

.icon_plan {
  margin-bottom: 40px;
}

.col_4 label {
  font-family: UbuntuMedium, sans-serif;
  color: hsl(213, 96%, 18%);
  font-size: 16px;
  margin-bottom: 10px;
}

.price_plan {
  color: #9699aa;
  font-size: 14px;
  margin-bottom: 10px;
}

.yr_offer {
  color: #022959;
  font-size: 13px;
}

.switch {
  margin-top: 30px;
  width: 100%;
  background-color: #f8f9ff;
  border-radius: 8px;
}

.row_5 {
  padding: 13px 0;
  width: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.row_5 p {
  font-family: UbuntuBold, sans-serif;
  font-size: 14px;
}

.monthly {
  color: #022959;
}

.yearly {
  color: #9699aa;
}

.switch_btn {
  margin: 0 15px;
  position: relative;
  width: 40px;
  height: 20px;
}

.toggle {
  opacity: 0;
  width: 0;
  height: 0;
  margin: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #022959;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 12px;
  width: 12px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.toggle:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  left: -4px;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.prev {
  color: #9699aa;
  text-transform: capitalize;
  background-color: transparent;
  border-color: transparent;
  font-size: 16px;
  font-family: UbuntuMedium, sans-serif;
}

.prev:hover {
  color: #022959;
}

.step_3 {
  display: none;
}

.wrapper_row_6 {
  border: 1px solid #d6d9e6;
  border-radius: 8px;
}

.wrapper_row_6:nth-child(2) {
  margin: 20px 0;
}

.row_6 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 15px 20px;
}

.row_7 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkbox {
  width: 20px;
  height: 20px;
  margin: 0;
  border: 1px solid #d6d9e6;
  border-radius: 4px;
}

.col_6 {
  padding-left: 20px;
}

.col_6 p:nth-child(1) {
  font-size: 16px;
  font-family: UbuntuMedium, sans-serif;
  color: #022959;
  margin-bottom: 9px;
}

.col_6 p:nth-child(2) {
  font-size: 14px;
  color: #9699aa;
}

.addons_price {
  color: #483eff;
  font-size: 14px;
}

.step_4 {
  visibility: visible;
}

.submit {
  background-color: #483eff;
  color: white;
  font-family: UbuntuMedium, sans-serif;
  padding: 12px 20px;
  border-radius: 7px;
  border-color: transparent;
  font-size: 16px;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.submit:hover {
  background-color: #928cff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.col_7 {
  background-color: #f8f9ff;
  border-radius: 8px;
  padding: 16px 24px;
}

.row_8 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.row_8::before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: #9699aa;
  position: absolute;
  bottom: 0;
}

.final_plan {
  font-family: UbuntuMedium, sans-serif;
  font-size: 16px;
  color: #022959;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.change_plan {
  color: #9699aa;
  text-decoration: underline;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 14px;
}

.change_plan:hover {
  color: #483eff;
}

.plan_price {
  font-family: UbuntuBold, sans-serif;
  color: #022959;
}

.row_9 {
  margin-top: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.final_addons {
  color: #9699aa;
  font-size: 14px;
}

.final_addons_price {
  color: #022959;
  font-size: 14px;
}

.final_price {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 31px 24px 0 24px;
}

.final_price p:nth-child(1) {
  color: #9699aa;
  font-size: 14px;
}

.final_price p:nth-child(2) {
  font-size: 20px;
  color: #483eff;
  font-family: UbuntuBold, sans-serif;
}
